@import './menu';
@import './languageSelector';
@import './socials';
@import './mixins';


.header{
    position: sticky;
    z-index: 999;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;

    &__logo{
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin: 32px;
    }

    &__main{
        @include centerable;
    }

    &__socials{
        @include centerable;
    }

    a{
        color: #fff;
    }
}