@import './mixins';

.promo{
    @include centerable;
    flex-direction: column;
    &__title{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 74px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #333;
        margin-top: 124px;
    }

    &__list{
        @include centerable;
        margin: 40px 0 50px;

        .list-item{
            position: relative;

            &__text{
                position: absolute;
                left: 0;
                top: 10px;
                background: rgba(0, 0, 0, 0.85);
                color: #fff;
                font-family: 'Roboto Slab', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                display: flex;
                align-items: center;
                padding: 5px 8px;
            }

            &:not(:last-child){
                margin-right: 40px;
            }
        }
    }

    &__button{
        font-family: 'Quicksand', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #1ed400;
        padding: 21px 110px;
        cursor: pointer;

        &:hover{
            background-color: rgba(30, 212, 0, 0.9);
        }
    }


    &__text{
        font-family: 'Quicksand', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 8px 0;
    }

    &__img{
        margin-bottom: 72px;
    }
}